# Auswertung der Parquet Dateien aus dem Echtzeitarchiv V14

In [9]:
import duckdb
import pandas as pd
import para
#import openpyxl
#from lonboard import Map, HeatmapLayer
import datetime as dt

In [10]:
pd.options.display.max_columns = 100

In [11]:
jetzt = dt.datetime.now().strftime('%Y-%m-%d %H:%M:%S')
gestern= (dt.date.today() - dt.timedelta(1)).strftime('%Y-%m-%d')
letzte07tage= (dt.date.today() - dt.timedelta(7)).strftime('%Y-%m-%d')
letzte14tage= (dt.date.today() - dt.timedelta(14)).strftime('%Y-%m-%d')
letzte21tage= (dt.date.today() - dt.timedelta(21)).strftime('%Y-%m-%d')

print(jetzt, letzte21tage)

2024-09-21 16:46:23 2024-08-31

# Aufbau der class

In [52]:

class rt_duck:    
    
    def __init__(self, db_name=':memory:'):
        # Initialize the DuckDB connection
        self.conn = duckdb.connect(database=db_name)
        self.cursor = self.conn.cursor()
        self.cursor.sql(f"""INSTALL postgres;
                            LOAD postgres;
                            ATTACH 'dbname=zvbn_postgis user=postgres host=127.0.0.1 password={para.key_dm_db}' AS db_dm (TYPE POSTGRES, READ_ONLY);"""
                        )
        self.cursor.sql("create or replace table lin_buendel as select * from db_dm.basis.lin_buendel")
        sql_lin = """
        Create or replace table linien as 
        SELECT nummer AS linie, buendel, ebene, dlid, id 
        FROM db_dm.basis.linien 
        WHERE buendel IS NOT NULL AND aktiv IS TRUE 
        ORDER BY buendel, ebene, nummer """
        self.cursor.sql(sql_lin)

    #def connect_zvbn_postgis(self):


    def create_table_fahrten(self, server):
        """ erstellt eine Tabelle aus den Parquet Files"""
        sql_create = f"create or replace table fahrten as select * from read_parquet('out/parquet/{server}/fahrten*.parquet',  union_by_name = true, filename = true)"
        self.cursor.execute(sql_create)
        self.cursor.sql("alter table fahrten add column if not exists lineid_short VARCHAR")
        self.cursor.sql("""update fahrten 
                set lineid_short = concat_ws(':', split_part(lineid,':', 1), split_part(lineid,':', 2), split_part(lineid,':', 3))""")
        self.cursor.sql("""select distinct lineid, 
                concat_ws(':', split_part(lineid,':', 1), split_part(lineid,':', 2), split_part(lineid,':', 3)) 
                from fahrten""")

        print("Table 'fahrten' created.")

    def create_vw_buendel(self, buendel):
        """ erstellt sicht auf eine Unternehmen"""
        sql_buendel = f"""create or replace view vw_buendel as
                                (select f.datum, l.buendel, l.ebene, f.vu, f.fnr, f.lineshort,f.lineid_short, f.hasrealtime, 
                                f.journey_cancelled, f.reported_cancelled, f.ts_reported_cancelled
        
                                from fahrten f                                         
                                left outer join linien l on f.lineid_short = l.dlid 
                                 where buendel like '%{buendel}%') """
        self.cursor.execute(sql_buendel)
        

    def anzahl_fahrten(self):        
        return self.cursor.sql("from fahrten").shape[0]

In [53]:
rt = rt_duck()

In [54]:
rt.create_table_fahrten(server = 'prod')

Table 'fahrten' created.

In [55]:
rt.create_vw_buendel('AM West')

In [82]:
q = rt.cursor.sql("select * from vw_buendel")
q.filter("lineshort = 'S35'")

┌─────────────────────┬─────────┬─────────┬───────────────┬─────────┬───────────┬──────────────┬─────────────┬───────────────────┬────────────────────┬───────────────────────┐
│        datum        │ buendel │  ebene  │      vu       │   fnr   │ lineshort │ lineid_short │ hasRealtime │ journey_cancelled │ reported_cancelled │ ts_reported_cancelled │
│    timestamp_ns     │ varchar │ varchar │    varchar    │ varchar │  varchar  │   varchar    │   boolean   │      boolean      │      boolean       │        varchar        │
├─────────────────────┼─────────┼─────────┼───────────────┼─────────┼───────────┼──────────────┼─────────────┼───────────────────┼────────────────────┼───────────────────────┤
│ 2024-09-14 00:00:00 │ AM West │ 1+      │ Gerdes Reisen │ 6352301 │ S35       │ de:VBN:S35   │ true        │ false             │ false              │                       │
│ 2024-09-14 00:00:00 │ AM West │ 1+      │ Gerdes Reisen │ 6352300 │ S35       │ de:VBN:S35   │ true        │ false             │ false              │                       │
│ 2024-09-14 00:00:00 │ AM West │ 1+      │ Gerdes Reisen │ 6352302 │ S35       │ de:VBN:S35   │ true        │ false             │ false              │                       │
│ 2024-09-14 00:00:00 │ AM West │ 1+      │ Gerdes Reisen │ 6352303 │ S35       │ de:VBN:S35   │ true        │ false             │ false              │                       │
│ 2024-09-14 00:00:00 │ AM West │ 1+      │ Gerdes Reisen │ 6352304 │ S35       │ de:VBN:S35   │ true        │ false             │ false              │                       │
│ 2024-09-14 00:00:00 │ AM West │ 1+      │ Gerdes Reisen │ 6352305 │ S35       │ de:VBN:S35   │ true        │ false             │ false              │                       │
│ 2024-09-14 00:00:00 │ AM West │ 1+      │ Gerdes Reisen │ 6352202 │ S35       │ de:VBN:S35   │ true        │ false             │ false              │                       │
│ 2024-09-14 00:00:00 │ AM West │ 1+      │ Gerdes Reisen │ 6352213 │ S35       │ de:VBN:S35   │ true        │ false             │ false              │                       │
│ 2024-09-14 00:00:00 │ AM West │ 1+      │ Gerdes Reisen │ 6352306 │ S35       │ de:VBN:S35   │ true        │ false             │ false              │                       │
│ 2024-09-14 00:00:00 │ AM West │ 1+      │ Gerdes Reisen │ 6352201 │ S35       │ de:VBN:S35   │ true        │ false             │ false              │                       │
│          ·          │    ·    │ ·       │       ·       │    ·    │  ·        │     ·        │  ·          │   ·               │   ·                │           ·           │
│          ·          │    ·    │ ·       │       ·       │    ·    │  ·        │     ·        │  ·          │   ·               │   ·                │           ·           │
│          ·          │    ·    │ ·       │       ·       │    ·    │  ·        │     ·        │  ·          │   ·               │   ·                │           ·           │
│ 2024-09-13 00:00:00 │ AM West │ 1+      │ Gerdes Reisen │ 6352514 │ S35       │ de:VBN:S35   │ true        │ false             │ false              │                       │
│ 2024-09-13 00:00:00 │ AM West │ 1+      │ Gerdes Reisen │ 6352008 │ S35       │ de:VBN:S35   │ true        │ false             │ false              │                       │
│ 2024-09-13 00:00:00 │ AM West │ 1+      │ Gerdes Reisen │ 6352036 │ S35       │ de:VBN:S35   │ false       │ false             │ false              │                       │
│ 2024-09-13 00:00:00 │ AM West │ 1+      │ Gerdes Reisen │ 6352011 │ S35       │ de:VBN:S35   │ true        │ false             │ false              │                       │
│ 2024-09-13 00:00:00 │ AM West │ 1+      │ Gerdes Reisen │ 6352040 │ S35       │ de:VBN:S35   │ true        │ false             │ false              │                       │
│ 2024-09-13 00:00:00 │ AM West │ 1+      │ Gerdes Reisen │ 6352047 │ S35       │ de:VBN:S35   │ false       │ false             │ false              │                       │
│ 2024-09-13 00:00:00 │ AM West │ 1+      │ Gerdes Reisen │ 6352051 │ S35       │ de:VBN:S35   │ true        │ false             │ false              │                       │
│ 2024-09-13 00:00:00 │ AM West │ 1+      │ Gerdes Reisen │ 6352044 │ S35       │ de:VBN:S35   │ false       │ false             │ false              │                       │
│ 2024-09-13 00:00:00 │ AM West │ 1+      │ Gerdes Reisen │ 6352048 │ S35       │ de:VBN:S35   │ true        │ false             │ false              │                       │
│ 2024-09-13 00:00:00 │ AM West │ 1+      │ Gerdes Reisen │ 6352055 │ S35       │ de:VBN:S35   │ true        │ false             │ false              │                       │
├─────────────────────┴─────────┴─────────┴───────────────┴─────────┴───────────┴──────────────┴─────────────┴───────────────────┴────────────────────┴───────────────────────┤
│ 1083 rows (20 shown)                                                                                                                                             11 columns │
└─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [47]:
rt.anzahl_fahrten()

351399

# Ohne Klassen

In [45]:
con = duckdb.connect()

In [46]:
con.sql(f"""INSTALL postgres;
LOAD postgres;
ATTACH 'dbname=zvbn_postgis user=postgres host=127.0.0.1 password={para.key_dm_db}' AS db_dm (TYPE POSTGRES, READ_ONLY);""")

In [ ]:
con.sql("create or replace table lin_buendel as select * from db_dm.basis.lin_buendel")
con.sql("select * from lin_buendel")

In [ ]:
sql_lin = """
        Create or replace table linien as 
        SELECT nummer AS linie, buendel, ebene, dlid, id 
        FROM db_dm.basis.linien 
        WHERE buendel IS NOT NULL AND aktiv IS TRUE 
        ORDER BY buendel, ebene, nummer """
con.sql(sql_lin)
con.sql("select * from linien")

## Abruf der Parquet Files (Tagespakete)

In [49]:
server = 'prod'
con.sql(f"create or replace table fahrten as select * from read_parquet('out/parquet/{server}/fahrten*.parquet',  union_by_name = true, filename = true)")
con.sql(f"create or replace table verlauf as select * from read_parquet('out/parquet/{server}/verlauf*.parquet',  union_by_name = true, filename = true)")
con.sql(f"create or replace table zusatz as select * from read_parquet('out/parquet/{server}/zusatz*.parquet',  union_by_name = true, filename = true)")

### Ermitteln und Löschen von nicht gewollten Betreibern

In [ ]:
con.sql("select distinct vu from fahrten where vu like '%Weser%'")

In [51]:
if False: #True / False um ggf. weiterhin alles durchlaufen zu lassen
    print('Löschen von Betreibern')
    con.sql("delete from fahrten where vu not in ('Weser-Ems-Bus Betrieb Bremen', 'Weser-Ems-Bus Auftragnehmerleistungen')")
    #con.sql("delete from verlauf where vu not in ('Weser-Ems-Bus Betrieb Bremen', 'Weser-Ems-Bus Auftragnehmerleistungen')")
    #con.sql("delete from zusatz where vu not in ('Weser-Ems-Bus Betrieb Bremen', 'Weser-Ems-Bus Auftragnehmerleistungen')")

In [ ]:
con.sql(f"select count(*) from fahrten where datum >= '{letzte14tage}'").df().values.tolist()[0][0]

In [ ]:
anzahl_fahrten = con.sql(f"select count(*) from fahrten where datum >= '{letzte14tage}'").df().values.tolist()[0][0]
print(f"""Anzahl Fahrten: {anzahl_fahrten},  Länge Verlauf: {con.sql("select count(*) from verlauf").df().values.tolist()[0][0]}    """)

In [ ]:
con.sql("""select 
            datum, 
            fahrtstartstationname, 
           strftime( cast(fahrtstarttime as TIMESTAMPTZ), '%H:%M') as fahrtstart,
           fahrtendstationname,
           strftime( cast(fahrtendtime as TIMESTAMPTZ), '%H:%M') as fahrtende,
            
            deviceid, 
            split_part(deviceid, '-', 2) as fnr, 
            cast(((cast(split_part(split_part(deviceid, '-', 3), '#', 1) as int64) - 8000000000000) / 1000) as int64) as m2, 
        from fahrten 
        where deviceid like '%680%DBRB%' and datum = '2024-08-29'
        order by datum, fahrtstarttime
        
        """).df()
#.to_excel('out/web.xlsx', index=False)

### Anzahl der Fahrten je Betreiber

In [ ]:
con.sql("select  journeyOperator, count(journeyOperator) as count from verlauf group by journeyOperator order by count")

## Fahrten mit hohen Verspätungen

In [ ]:
con.sql("select distinct deviceid from verlauf where dep_del > 100").df()

In [ ]:
con.sql("describe fahrten")

### Verkürzung der DLID
- Zum Teil weren bei mehreren Betreibern einer Linie TLID mit vierteiliger DLID geliefert 
- Verkürzung ermöglicht die Verknüpfung mit Liste aus DM

In [ ]:
con.sql("alter table fahrten add column if not exists lineid_short VARCHAR")
con.sql("""update fahrten 
        set lineid_short = concat_ws(':', split_part(lineid,':', 1), split_part(lineid,':', 2), split_part(lineid,':', 3))""")
con.sql("""select distinct lineid, 
        concat_ws(':', split_part(lineid,':', 1), split_part(lineid,':', 2), split_part(lineid,':', 3)) 
        from fahrten""")

## Über HIM gemeldete Ausfälle (ts_reported_cancelled gefüllt)

In [59]:
df_fahrten_ausfall_him = con.sql(f"""
                              select vu, fnr, ts_reported_cancelled, journey_cancelled 
                              from fahrten f 
                              where ts_reported_cancelled != '' and f.datum >= '{letzte14tage}'""").df()

## Echzeitquote

### nach Linie und Betreiber

In [ ]:
df_ez_quote_betreiber = con.sql(f"""
        select l.buendel, l.ebene,f.datum, f.vu, f.lineshort,f.lineid_short, count(f.hasRealtime) filter (f.hasRealtime = True) ez_true, count(f.*) count, 
        round(ez_true / count * 100, 1) anteil_ez
        from fahrten f
        left outer join linien l on f.lineid_short = l.dlid
        where f.datum >= '{letzte14tage}'              
        group by f.lineid_short, f.vu, f.datum, f.lineshort, f.lineid_short, l.buendel, l.ebene
        order by f.vu, f.lineid_short
        """).df()
df_ez_quote_betreiber['buendel'] = df_ez_quote_betreiber['buendel'].fillna('-')
df_ez_quote_betreiber['ebene'] = df_ez_quote_betreiber['ebene'].fillna('-')
anteil_ez_pivot_betreiber = pd.pivot_table(df_ez_quote_betreiber, index=['buendel','ebene', 'vu', 'lineshort'], columns='datum', values='anteil_ez').reset_index()
anteil_ez_pivot_betreiber

### nach Linie (ohne Betreiber)

In [ ]:
df_ez_quote_o_betreiber = con.sql(f"""
        select l.buendel, l.ebene,f.datum, f.lineshort,f.lineid_short, count(f.hasRealtime) filter (f.hasRealtime = True) ez_true, count(f.*) count, 
        round(ez_true / count * 100, 1) anteil_ez
        from fahrten f        
        left outer join linien l on f.lineid_short = l.dlid      
        where f.datum >= '{letzte14tage}'        
        group by f.lineid_short, f.datum, f.lineshort, f.lineid_short, l.buendel, l.ebene
        order by f.lineid_short
        """).df()
df_ez_quote_o_betreiber['buendel'] = df_ez_quote_o_betreiber['buendel'].fillna('-')
df_ez_quote_o_betreiber['ebene'] = df_ez_quote_o_betreiber['ebene'].fillna('-')
anteil_ez_pivot_o_betreiber = pd.pivot_table(df_ez_quote_o_betreiber, index=['buendel','ebene', 'lineshort'], columns='datum', values='anteil_ez').reset_index()
anteil_ez_pivot_o_betreiber

## Fahrten ohne Echtzeit Ebene 1/1+ und 2

In [62]:
df_fahrten_ohne_ez_ebenen_1_1p_2 = con.sql(f"""
        select f.datum, l.buendel, l.ebene, f.vu, f.fnr, f.lineshort,f.lineid_short, f.hasrealtime, f.journey_cancelled, f.reported_cancelled, f.ts_reported_cancelled
        
        from fahrten f
                                           
        left outer join linien l on f.lineid_short = l.dlid              
        where l.ebene in ('1', '1+') and f.hasrealtime = False and f.datum >= '{letzte14tage}'
                                           
        order by f.datum, f.lineid_short
        """).df()

In [63]:
df_fahrten_ausfall_1_1p_2 = con.sql(f"""
        select f.datum, l.buendel, l.ebene, f.vu, f.fnr, f.lineshort,f.lineid_short, f.hasrealtime, f.journey_cancelled, f.reported_cancelled, f.ts_reported_cancelled
        
        from fahrten f
                                    
        left outer join linien l on f.lineid_short = l.dlid              
        where l.ebene in ('1', '1+', '2') and (journey_cancelled = True or f.reported_cancelled = True) and 
        f.datum >= '{letzte14tage}'                            
        order by f.datum, f.lineid_short
        """).df()

# Ausgabe Anteil EZ nach Linie

In [64]:
xlsx = "/var/www/rt_archiv/anteil_echtzeit_linien_vbn.xlsx"
sn00 = '00 Hilfe'
sn01 = '01 pivot alle Linien betreiber'
sn02 = '02 pivot alle Linien'
sn03 = '03 fahrten ohne EZ 1 1+ 2'
sn04 = '04 fahrten ohne EZ 1 1+ 3 grup'
sn06 = '05 fahrten ausfall'
sn07 = '06 fahrten ausfall über HIM'
with pd.ExcelWriter(xlsx, engine="openpyxl") as writer:
    #Hilfeblatt
    writer.book.create_sheet(sn00)
    sheet = writer.book[sn00]
    sheet['A1'] = f"Erstellt: {dt.datetime.now().strftime('%Y-%m-%d %H:%M')} Zeitraum: {letzte14tage} bis {gestern}"

    sheet['A3'] = "Inhalt"
    sheet['B4'] = f"Blatt {sn01}: Pivot Echtzeitquote inkl. Betreiberkennung"
    sheet['B5'] = f"Blatt {sn02}: Pivot Echtzeitquote ohne Betreiberkennung"
    sheet['B6'] = f"Blatt {sn03}: Fahrten ohne Echtzeit"
    sheet['B7'] = f"Blatt {sn04}: Fahrten ohne Echtzeit mit Anzahl"
    sheet['B8'] = f"Blatt {sn06}: Fahrten Ausfall"
    sheet['B9'] = f"Blatt {sn07}: Fahrten Ausfall über HIM"

    #mit Kennung der Betreiber
    anteil_ez_pivot_betreiber.to_excel(writer, sheet_name=sn01, index=False)
    writer.book[sn01].freeze_panes = 'e2'
    writer.book[sn01].auto_filter.ref='A:H'
    for cell in writer.book[sn01]["1:1"]:
        cell.number_format = 'YYYY-MM-DD'
    writer.book[sn01].column_dimensions['c'].width = 22
    for c in ['D', 'E', 'F', 'G', 'H']:
        writer.book[sn01].column_dimensions[c].width = 22        
    for c in writer.book[sn01].iter_cols(min_col=4, max_col=anteil_ez_pivot_betreiber.shape[1]+4):
                #ermitteln der Spalte column letter
                cl = c[int(f"{anteil_ez_pivot_betreiber.shape[0]}")].column_letter
                writer.book[sn01].column_dimensions[cl].width = 16

    #Anteil EZ ohne Kennung der Betreiber
    anteil_ez_pivot_o_betreiber.to_excel(writer, sheet_name=sn02, index=False)
    writer.book[sn02].freeze_panes = 'd2'
    writer.book[sn02].auto_filter.ref='A:H'
    for cell in writer.book[sn02]["1:1"]:
        cell.number_format = 'YYYY-MM-DD'
    writer.book[sn02].column_dimensions['c'].width = 22
    for c in ['D', 'E', 'F', 'G', 'H']:
        writer.book[sn02].column_dimensions[c].width = 22 
         
    for c in writer.book[sn02].iter_cols(min_col=4, max_col=anteil_ez_pivot_o_betreiber.shape[1]+4):
                #ermitteln der Spalte column letter
                cl = c[int(f"{anteil_ez_pivot_o_betreiber.shape[0]}")].column_letter
                writer.book[sn02].column_dimensions[cl].width = 16

    ## Ausgabe der Fahrten ohne Echtzeit Ebene 1 und 1+ und 2 einzeln
    df_fahrten_ohne_ez_ebenen_1_1p_2.to_excel(writer, sheet_name=sn03, index=False)
    writer.book[sn03].freeze_panes = 'a2'
    writer.book[sn03].auto_filter.ref='A:M'
    for cell in writer.book[sn03]["A"]:
        cell.number_format = 'YYYY-MM-DD'
    writer.book[sn03].column_dimensions['A'].width = 18

    ## Ausgabe der Fahrten ohne Echtzeit Ebene 1 und 1+ und 2 gruppiert mit Anzahl
    df_fahrten_ohne_ez_ebenen_1_1p_2[['vu', 'fnr']].value_counts().reset_index().sort_values(['count', 'vu'], ascending=False).to_excel(writer, sheet_name=sn04, index=False)
    writer.book[sn04].freeze_panes = 'a2'
    writer.book[sn04].auto_filter.ref='A:H'
    writer.book[sn04].column_dimensions['A'].width = 22   

    ## Ausgabe der Fahrten Ausfall Ebene 1, 1+ und 2
    df_fahrten_ausfall_1_1p_2.to_excel(writer, sheet_name=sn06, index=False)
    writer.book[sn06].freeze_panes = 'a2'
    writer.book[sn06].auto_filter.ref='A:M'
    for cell in writer.book[sn06]["A"]:
        cell.number_format = 'YYYY-MM-DD'
    writer.book[sn06].column_dimensions['A'].width = 18

    ## Ausgabe der Fahrten Ausfall über HIM
    df_fahrten_ausfall_him.to_excel(writer, sheet_name=sn07, index=False)
    writer.book[sn07].freeze_panes = 'a2'
    writer.book[sn07].auto_filter.ref='A:M'
    for cell in writer.book[sn07]["A"]:
        cell.number_format = 'YYYY-MM-DD'
    writer.book[sn07].column_dimensions['A'].width = 18